PORT=10000
PUBLIC_BASE_URL=
DATABASE_URL=
SHOPIFY_STORE=vzspbr-c8.myshopify.com
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_API_VERSION=2026-10
APP_SECRET=
ADMIN_PASSWORD=
RESEND_API_KEY=
EMAIL_FROM=Hotend <hello@updates.hotend.co.nz>
EMAIL_REPLY_TO=info@hotend.co.nz
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
META_APP_SECRET=
HOTEND_STAFF_WHATSAPP_NUMBER=
